/*Linkpara la fuente Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@100&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body { /*Unificacion de estilos etiquetas <body>*/
    font-family: 'roboto', sans-serif;
    height: 100vh;
    background-color: rgb(235, 220, 220);
    background-image: url("https://st2.depositphotos.com/7341970/10355/v/950/depositphotos_103551362-stock-illustration-vintage-kitchen-and-cooking-tools.jpg");
    /*Estilos de grilla*/
    display: grid;
    grid-template-areas:
    "body"
    "header"
    "navbar"
    "texto-inicial"
    "foto-inicial"
    "grupo-contacto"
    "myfooter"
    }

.flex-texto-inicial{
    display: flex;
}

//Varianbles
$font-family1: 'roboto' , sans-serif;
$font-size1: 45 px;
$color1: black;
$text-align1: center;

h1 {
        font-family: $font-family1;
        font-size: $font-size1;
        color: $color1;
        text-align: $text-align1
}

h2 {
    font-family: $font-family1;
    font-size: $font-size1;
    color: $color1;
    text-align: $text-align1
}

h3 {
    font-family: $font-family1;
    font-size: $font-size1;
    color: $color1;
    text-align: $text-align1
}

.navbar {
    background-color: rgb(238, 147, 29);
    padding: 20px;
    border-radius: 10px;
    lu{ /*Estilos menu navegacion*/
        display: none;
        list-style: none;
        padding: 0;
    }
    li{
        margin-right: 3em;
        list-style: none;
        margin: 25px;
    }
    a{
        margin-right: 3em;
        list-style: none;
        margin: 25px; 
    }
}

nav a:hover {  /*Estilos al menu de navegación*/
    color: rgb(92, 76, 54); 
}

.flex-texto-inicial{
    display: flex;
    flex-direction: column;
    .texto-inicial{
        flex-direction: row;
        margin: 20px;
    }
}

.descripcion{
    font-family: 'roboto', sans-serif;
    color:black;
    font-size: 20px;
    background-color: rgb(223, 236, 236);
}

.foto-1{
    margin-right: 60px;
    margin-top: 50px;
    border: solid 2px, black;
}

.texto-1{
    padding-right: 20px;
    width: 600px;
    height: 200px;
    text-align: center;
    margin-left: 60px;
    margin-top: 30px;
    border: solid 2px, black;
}

.grupo-contacto{
    margin: 20px;
}

.myfooter{ /*Aca agregue estilos al footer*/
    background-color: rgb(238, 147, 29);
    padding: 20px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    bottom: 0;
    width: 100%;
    border-radius: 10px;
}

.tituloRredes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(7, 7, 7);
}

/*flexbox*/
.contactos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    i { /*Estilos a los iconos*/
        font-size: 20px;
        color: rgb(7, 7, 7);
        margin: 20px;   
    }
}
/*MENU*/
.menu {
    /*flexbox*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.big-pickles{
    font-family: 'roboto', sans-serif;
    color:black;
    font-size: 20px;
    background-color: rgb(223, 236, 236);
}

.big-cheese{
    font-family: 'roboto', sans-serif;
    color:black;
    font-size: 20px;
    background-color: rgb(223, 236, 236);
}

.big-onion{
    font-family: 'roboto', sans-serif;
    color:black;
    font-size: 20px;
    background-color: rgb(223, 236, 236);
}
/*====== Media Queries ======*/

@media screen  and (min-widht:768px){
    body { /*Unificacion de estilos etiquetas <body>*/
        font-family: 'roboto', sans-serif;
        height: 100vh;
        background-color: rgb(235, 220, 220);
        background-image: url("https://st2.depositphotos.com/7341970/10355/v/950/depositphotos_103551362-stock-illustration-vintage-kitchen-and-cooking-tools.jpg");
    }

    .menu {
        /*flexbox*/
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 35px;
    }
}

.navbar {
    background-color: rgb(238, 147, 29);
    padding: 20px;
    border-radius: 10px;
}


